@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
      @apply scroll-smooth;
    }
  }
  
body {
    font-family: 'Poppins', sans-serif;
}

.navbar-fixed {
    @apply fixed z-[9999] bg-white bg-opacity-80;
    backdrop-filter: blur(5px);
    box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
}

.hamburger-line {
    @apply w-[30px] h-[2px] my-2 block bg-dark;
}

.hamburger-active > span:nth-child(1){
    @apply rotate-45;
}

.hamburger-active > span:nth-child(2){
    @apply scale-0;
}

.hamburger-active > span:nth-child(3){
    @apply -rotate-45;
}

/* typewriter */

.animated-text{
  font-size: 25px;
  font-weight: 600;
  min-width: 280px;
}

.animated-text span{
  position: relative;
}

.animated-text span::before{
  content: "Frontend Developer";
  color: #ff7f50;
  animation: words 20s infinite;
}

.animated-text span::after{
  content: "";
  position: absolute;
  width: calc(100% + 8px);
  height: 100%;
  background-color: white;
  border-left: 2px solid #ff7f50;
  right: -8px;
  animation: cursor .8s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
  to{
      border-left: 2px solid #ff7f5000;
  }
}

@keyframes words {
  0%,20%{
      content: "Frontend Developer";
  }
  21%,40%{
      content: "Reseacher";
  }
  41%,60%{
      content: "Designer";
  }
  61%,80%{
      content: "Writer";
  }
  81%,100%{
      content: "AI Enthusiast";
  }
}

@keyframes typing {
  10%,15%,30%,35%,50%,55%,70%,75%,90%,95%{
      width: 0;
  }
  5%,20%,25%,40%,45%,60%,65%,80%,85%{
      width: calc(100% + 8px);
  }
}